<li [ngClass]="{'editing': edition, 'completed': data.isDone}">
  <div class="view">
    <input 	class			= "toggle"
            type			= "checkbox"
            name			= "fait"
            [ngModel] = "data.isDone" 
            (ngModelChange) = "itemDone($event)"
    />
    <label class="texte" (dblclick)="editItem(textInput)">{{label}}</label>
    <button class="destroy" (click)="removeItem()"></button>
  </div>
  <form (submit)="editItemLabel(textInput.value);">
    <input  #textInput
            name    = "newTextInput"
            class   = "edit"
            value   = {{data.label}}
            (blur)  = "editItemLabel(textInput.value);"
    />
  </form>
</li>